doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='js/controllers/main.js')
    script(src='js/services/todos.js')
    script(src='js/core.js')
  body
    block content
