doctype html
html(ng-app="scotchTodo")
  head
    title= title
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(src='bower_components/angular/angular.min.js')
    script(src='js/core.js')
    script(src='js/controllers/main.js')
    script(src='js/services/todos.js')
  body(ng-controller="mainController")
    block content
